 html {
   background-color: rgb(41, 201, 166);
   background-size: cover;
   font-family: 'helvetica neue';
   text-align: center;
   font-size: 10px;
 }

 body {
   margin: 0;
   font-size: 2rem;
   min-height: 100vh;
   align-items: center;
 }

 nav {
   background-color: #fff;
   height: 100%;
 }

 .clock {
   width: 30rem;
   height: 30rem;
   border: 20px solid rgb(240, 243, 247);
   border-radius: 50%;
   margin: 50px auto;
   position: relative;
   padding: 2rem;
   box-shadow:
     0 0 0 4px rgba(0, 0, 0, 0.1),
     inset 0 0 0 3px #404935,
     inset 0 0 10px black,
     0 0 10px rgba(0, 0, 0, 0.2);
 }

 .clock-face {
   position: relative;
   width: 100%;
   height: 100%;
   transform: translateY(-3px);
   /* account for the height of the clock hands */
   transform: rotate(90deg)
 }

 .hand {
   width: 50%;
   height: 6px;
   background: black;
   position: absolute;
   top: 50%;
   transform-origin: 100%;
   transition: all 0.05s;
   transition-timing-function: cubic-bezier(0.35, 2.65, 1, 1);
 }

 .second-hand {
   height: 2px;
   background: #e0e9e4;
 }

 .min-hand {
   height: 4px;
   width: 45%;
   margin-left: 5%;
   background: rgb(214, 110, 110);
 }

 .hour-hand {
   height: 6px;
   width: 35%;
   margin-left: 15%;
   background: rgba(13, 14, 14, 0.904);
 }

 .now-time {
   margin: auto;
   color: rgb(224, 243, 243)
 }

 footer {
   margin-bottom: 0%;
   padding: 0%;
   background-color: #fff;
 }